{% extends "encyclopedia/layout.html" %}

{% block body %}
    <form action="{% url 'edit' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ title }}">
        <br>
        <input type="submit" value="Edit this page" class="btn btn-primary">
    </form>
    {% if article == None %}
    <h3>{{title}} not found! Would you like to <a href="{% url 'create' %}">create</a> it.</h3>
    {% else %}  
    <p> {{article|safe}} </p>
    {% endif %}
{% endblock %}